mixin stats-card(card)
	div.stats-card&attributes(attributes)
		div.stats-title #{card.title}
		div.stats-content
			div.stats-value #{card.value}
			div.stats-description #{card.description}


mixin stats-song-card(card)
	div.stats-song-card&attributes(attributes)
		div.stats-title #{card.title}
		div.stats-content
			div.stats-content_left(style="background-image:url("+card.image+")")
			div.stats-content_right
				div.stats-song #{card.song}
				div.stats-artist #{card.artist}