mixin stats-card(card)
	div.card.stats-card&attributes(attributes)
		div.card-title.stats-title #{card.title}
		div.card-content.stats-content
			div.stats-value #{card.value}
			div.stats-description #{card.description}


mixin stats-song-card(card)
	div.card.stats-song-card&attributes(attributes)
		div.card-title.stats-title #{card.title}
		div.stats-content
			div.stats-content_left(style="background-image:url("+card.image+")" class=(card.image == null || card.image == '' ? 'hide' : ''))
			div.stats-content_right
				div.stats-song #{card.song}
				div.stats-artist #{card.artist}

mixin top-chart(card)
	div.card.top-chart&attributes(attributes)
		div.card-title.top-chart-title #{card.title}
		if(block)
			block
		else 
			+top-chart-content(card.content)
		
mixin top-chart-content(content)
	div.top-chart-content
		each row of content	
			+top-chart-row(row)


mixin top-chart-row(row)
	div.top-chart-row
		if((force_images || (!process.env.TOP_CHART_HIDE_IMAGES && row.image !== null)))
			div.top-chart-row_left(style=(row.image !== null && row.image != '' ? "background-image:url("+row.image+")" : ""))
		div.top-chart-row_right
				div.top-chart-value
					| #{row.name || row.title}
					if(row.artist)
						span.artist #{row.artist}
